<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Settings" type="System.Configuration.AppSettingsSection, System.Configuration.ConfigurationManager" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToRoamingUser"  restartOnExternalChanges="true" requirePermission="false" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Remoting_Wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<location allowOverride="true" inheritInChildApplications="true">
		<Settings>
			<add key="RDP Template" value="session bpp:i:32 rdgiskdcproxy:i:0 kdcproxyname:s: drivestoredirect:s: screen mode id:i:2"/>
			<add key="PCs Config" value="FORTiS Packing,UKNML8793,epdassyxp2"/>
		</Settings>
	</location>
 <userSettings>
  <Remoting_Wizard.Properties.Settings>
   <setting name="ColourScheme" serializeAs="String">
    <value>Dark</value>
   </setting>
   <setting name="AfterConnectionAction" serializeAs="String">
    <value>Shutdown</value>
   </setting>
  </Remoting_Wizard.Properties.Settings>
 </userSettings>
</configuration>